{
  "include": [
    "src/**/*.js"
  ],
  "exclude": [
    "coverage/**",
    "test/**",
    "test{,-*}.js",
    "**/*.test.js",
    "**/__tests__/**",
    "**/node_modules/**",
    "**/testing-utilities/**",
    "**/*.spec.js"
  ],
  "reporter": [
    "lcov",
    "text"
  ],
  "check-coverage": true,
  "per-file": false,
  "lines": 68,
  "functions": 56,
  "branches": 61,
  "statements": 67
}
